node_modules
.sass-cache
tg-template
Core File Structure for TGWS.txt
partials/work/past-work.php
partials/work/work-template.php
components/modal-content.php
includes/meta-index.php
assets/images/slides/jpg-slides
assets/images/react-slides/jpg-slides
# Webfiles/shame.html
.vscode
