/*!

  This is the core import file for TimGreen.ws. 
  Site by: Tim Green

*/

/*
 ==== modules ====
*/

@import "modules/font-face";
@import "modules/mixins";
@import "modules/variables";
@import "modules/root";
@import "modules/base";
@import "modules/typography";

/*
 ==== Plugins ====
*/

@import "plugins/swiper";

/*
 ==== Components ====
*/

@import "components/gallery";
@import "components/sticky-menu";
@import "components/buttons";
@import "components/cookies";
@import "components/icons";
@import "components/modal";
@import "components/neon-gradient";
@import "components/the-networks";
@import "components/selected-work";
@import "components/skills";
@import "components/timeline";
@import "components/tools";
@import "modules/media-states";



/*
 ==== Sections ====
*/

@import "sections/main";
@import "sections/header";
@import "sections/footer";


/*
 ==== Pages ====
*/

@import "pages/pages";
@import "modules/media-queries";