/*

  Base
  +

*/

html *{
  -webkit-appearance: none;
  border: 0;
  box-sizing: border-box;
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

html{
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	height: -webkit-fill-available;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;

	.fonts-enabled * {
		-moz-font-feature-settings: "ss03";
		-webkit-font-feature-settings: "ss03";			font-feature-settings: "ss03";
		-moz-font-variant-numeric: oldstyle-nums;
		-webkit-font-variant-numeric: oldstyle-nums;
		font-variant-numeric: oldstyle-nums;
		-moz-font-variant-ligatures: common-ligatures;
		-webkit-font-variant-ligatures: common-ligatures;
		font-variant-ligatures: common-ligatures;
		}
}

body{
  background: $black;
  color: $white;
}

a {
	color: $white;
	text-decoration: none;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

img:not([src]) {
	visibility: hidden;
}

svg {
	fill: $white;
}

ol, ul {
	list-style: none;
}

.grid {
	display: grid
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute!important;
	white-space: nowrap;
	width: 1px
}

.wrapper {
	margin: 0 auto;
	max-width: var(--max-width-wrapper);
	padding: calc(var(--padding) * 2) calc(var(--padding) + env(safe-area-inset-right)) calc(var(--padding) * 2) calc(var(--padding) + env(safe-area-inset-left));
}

.gradient-start {
stop-color: var(--gradient-start);
}
.gradient-end {
	stop-color: var(--gradient-end);
}

.overline {
	font-size: var(--overline);
	font-weight: 700;
	letter-spacing: .4pt;
	text-transform: uppercase
}

.project {
	background: #fafafa;
	box-shadow: rgba(0, 0, 0, .1) 0 1rem 4rem;
	color: rgba(0, 0, 0, .9);

	.wrapper {
		display: flex;
		flex-direction: column
	}
}
 
.nda {
	background: rgba(0, 0, 0, 0.4);
	border-radius: 1rem;
	color: rgba(255, 255, 255, 1);
	display: inline-block;
	font-size: 0.6rem;
	line-height: 0.7rem;
	margin-right: 0.25rem;
	padding: 0.25rem 0.5rem;
	vertical-align: top;
}

.project a {
	color: rgba(0, 0, 0, 0.9);
	text-decoration: underline;
}

.project-overview .content {
	flex: 1;
	margin: 1rem 0 0;
}

.project-overview .details {
	display: flex;
	flex-wrap: wrap;
	font-size: 0.8rem;
	font-weight: 500;
	letter-spacing: 0.2pt;
	line-height: 2;
	margin: 1rem 0 0;
}

.project-overview .details dt {
	opacity: 0.5;
	width: 20%;
}

.project-overview .details dd {
	width: 70%;
}

.project-overview .details dd span {
	opacity: 0.5;
}

.project-overview .overline {
	color: rgba(0, 0, 0, 0.4);
	margin: 0 0 1rem;
}


.wrapper {
	margin: 0 auto;
	max-width: var(--max-width-wrapper);
	padding: calc(var(--padding) * 2) calc(var(--padding) + env(safe-area-inset-right)) calc(var(--padding) * 2) calc(var(--padding) + env(safe-area-inset-left))
}

.project-overview {
	display: flex
}

.project-overview>div {
	display: flex;
	flex: 1;
	flex-direction: column
}

.wireframe {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	bottom: 0;
	display: flex;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	transform: translate3d(0, 0, 0);
	z-index: -1;
	
	div{
		flex: 1;
		overflow: hidden;
		position: relative;
		text-align: center
		}

	svg{
		bottom: -.5rem;
		fill: none;
		height: 80vh;
		left: 50%;
		position: absolute;
		stroke-width: .05;
		transform: translateX(-50%)
	}
}

#biography .avatar {
	width: 50%;

	img {
		width: 100%
	}
}



#contacts, #exp{
	margin: var(--padding) 0;
	margin-top: 1.5rem;

	a {
		display: block;
		line-height: 1.5;
		padding: 1.5rem;
		text-align: center;
		
		strong {
			display: block;
		}

		svg {
			display: block;
			fill: $white;
			height: 48px;
			margin: 0 auto .5rem;
			width: 48px;
		}
	}
}

#experience{
	h4{
		color: $white;
	}
	.content{
		color:  rgba(255,255,255,0.6);
		font-size: var(--medium-paragraph);
	}

	.yet-exp{
		font-size: var(--small-plus-paragraph);
	}
}

#contacts ul, #exp ul {
	display: grid;
	gap: 1rem
}
#cover-animation {
	flex: 1
}

#cover .button {
	font-weight: 500;
	white-space: nowrap
}
#cover .footnote {
	position: relative;
	top: var(--padding)
}
#cover .wrapper {
	display: flex;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0
}
#cover .wrapper>div {
	display: flex;
	flex: 1;
	flex-direction: column
}
#cover .wrapper>div>div {
	align-items: center;
	display: flex;
	flex: 1
}
#index a.button {
	align-items: center;
	display: flex;
	line-height: 1.5rem;

	img {
		border-radius: 4px;
		margin: 1rem 1rem 1rem 0;
	}
}

#menu li {
	display: block;
	margin: 1rem 0 0
}


#skills {
	clear: both;
}

#biography {
	position: relative;
}

#biography p {
	position: relative;
	z-index: 2;
}

#biography .avatar div {
	background-image: linear-gradient(160deg, rgba(255, 0, 230, 1), rgba(116, 0, 255, 1));
	border-radius: 50%;
	box-shadow: rgba(255, 255, 255, 0.05) max(1.5rem, calc(var(--padding) / 2)) 0 0, rgba(0, 0, 0, 0.5) 1rem 1rem 3rem;
	height: 0;
	overflow: hidden;
	padding-top: 100%;
	position: relative;
	width: 100%;
}

#biography .avatar img {
	left: 0;
	filter: brightness(1.3);
	mix-blend-mode: multiply;
	position: absolute;
	top: 0;
}

#biography .content {
	margin: 1.5rem 0;
}


#footer {
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0) 100%);
}

#index {
	flex: 1;
	margin: var(--padding) 0 0;
}

#index a {
	display: block;
}

#profile, .black-wrap {
	background: rgba(20, 20, 20, 1);
	background-image: linear-gradient(180deg, rgba(25, 25, 25, 1) 0%, rgba(20, 20, 20, 1) 10%, rgba(20, 20, 20, 1) 90%, rgba(15, 15, 15, 1) 100%);
	overflow: hidden;
	position: relative;
}

.white-wrap{
	background: rgba(255, 255, 255, 1);
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(220, 220, 220, 1) 10%, rgba(266, 266, 266, 1) 90%, rgba(238, 238, 238, 1) 100%);
	overflow: hidden;
	position: relative;
}

#progress-bar {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	background-image: linear-gradient(to right, var(--gradient-end) 0, var(--gradient-start) var(--scroll), transparent 0);
	height: 4px;
	position: fixed;
	--scroll: 0%;
	top: 0;
	transform: translate3d(0, 0, 0);
	width: 100%;
	z-index: 100;
}

.no-marbot{
	margin-bottom: 0;
}
/* Footer - Focus 

#footer a:focus {
	background: rgba(255, 255, 255, 0.1);
	border: rgba(255, 255, 255, 0.6) 2px solid;
	box-shadow: rgba(0, 0, 0, 1) 0 0.5rem 3rem -0.5rem, rgba(0, 0, 0, 1) 0 0.25rem 0.75rem -0.25rem;
	outline: none;
	transform: translateY(-0.5rem);
}
*/