/*

  Root
  +

*/


:root {
	--border-radius: 1rem;
	--padding: 1.5rem;
	--max-width-wrapper: 1600px;
	--display-heading: 1.9rem;
	--large-heading: 1.8rem;
	--small-heading: 1.3rem;
	--large-paragraph: 1.125rem;
	--medium-paragraph: 1rem;
	--small-plus-paragraph: 0.95rem;
	--small-paragraph: 0.8rem;
	--extra-small-paragraph: 0.6rem;
	--overline: 0.7rem;
	--footnote: 0.7rem;
	--gradient-start: rgba(17, 153, 142, 1);
	--gradient-end: rgba(56, 239, 125, 1)
}