/*

  Typography
  +

*/

.large-heading {
	font-size: var(--large-heading);
	font-weight: 700;
	letter-spacing: -1.2pt;
	line-height: 1.1
}

#profile h3.large-heading {
	margin: calc(var(--padding) * 1.5) 0 0;
}

#profile h3.neon-gradient.skills-heading {
	margin: 0;
}

.medium-heading{
	font-size:var(--medium-heading);
}

.small-heading {
	font-size: var(--small-heading);
	font-weight: 700;
	letter-spacing: -0.2pt;
	line-height: 1.1;
}

.vertically-centered {
	align-items: center;
	display: flex;
}

.vertically-centered .wrapper {
	flex: 1;
}


.black-text{
	color: $black;
}
