/*

  Variables
  +

*/

// Colours

$color-primary: DarkSlateBlue;

//Black
$black: #050505;
$medium-black: #020202;
$light-black: #161616;
$soft-black: #141414;

//White
$white: #fff;
$offwhite: #fafafa;

//Gray
$gray: #d0d0d0;
$darkgray: #999;

//Red
$soft-red: #dc535b;
$medium-red: #c9373f;

//Blue
$aqua: #00add0;
//Purple
$magenta: #930f5b;


//Primary Colours
$primary-color:$black;
$secondary-color:$light-black;
$third-color:$medium-black;

// Base
$base-line-height: 1.7;

//Fonts
$font-stack: 'Gordita',Verdana,sans-serif;

// Weights
$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;

//Text Transform
$text-cap: capitalize; 
$text-lower: lowercase;
$text-upper: uppercase;
$text-none: none;