/*

  Button
  +

*/

.button {
	align-items: center;
    background: rgba(20, 20, 20, .9);
	color: $white;
	cursor: pointer;
	border-radius: 4px;
	display: inline-flex;
	font-size: 1rem;
	font-weight: 500;
	min-height: 3rem;
	line-height: 3rem;
	padding: 0 1rem;

    &:active {
        box-shadow: rgba(255, 0, 230, .2) 0 0 0 4px;
        outline: 0
    }
    
    &:focus {
        box-shadow: rgba(255, 0, 230, .2) 0 0 0 4px;
        outline: 0
    }
    
    span {
        display: inline-block;
        margin: 0 auto;
        position: relative;
        z-index: 3;
    }

    .icon {
        margin-left: 1rem;
    }

    .label {
        flex: 1;
    }
}

.button.primary {
	background-image: linear-gradient(160deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
	color: rgba(255, 255, 255, 1);
}

.button-shadow {
	box-shadow: rgba(0, 0, 0, .9) 0 1rem 2rem -1rem;
}

.button-rounded {
	border-radius: 3rem;
	min-width: 3rem;
	padding: 0 1.5rem;
}

.button-icon {
	padding: 0;
}

.button-icon .icon {
	margin: 0 auto;
}