/*

  Gradient Neon
  +

*/


.neon-gradient {
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(160deg, var(--gradient-start) 0, var(--gradient-end) 100%);
	display: inline-block;
	padding-bottom: 1rem;
	position: relative;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	z-index: 2;
}

.neon-gradient-underline{
	text-decoration: 2px underline var(--gradient-start);
	transition: .4s  ease-out;
	&:hover{
		text-decoration: 2px underline var(--gradient-end);
		transition: .6s  ease-in;
	}
}