/*

  React Work
  +

*/

.react-work{
    #see-work{
        margin-left: 1rem;
        box-shadow: rgba(20,20,20,1) 0 0 0 4px
    }

   .icon.question-mark{
        box-shadow: $black 0 0 0 1px !important;
   }
}

.react-cta{
    display: flex;  
}