/*

  Skills
  +

*/


#skills .content {
	padding-right: 1rem;
}

#skills > .grid {
	grid-gap: 2rem;
	padding: 2rem 0 0;
}

#skills .grid > div {
	position: relative;
}

#skills .grid > div > svg {
	fill: rgba(255, 255, 255, 0.05);
	height: auto;
	position: absolute;
	right: 0;
	top: -1.5rem;
	width: 40%;
}

#skills .grid p {
	color: rgba(255, 255, 255, 0.6);
}

.skill{
	font-weight: 500;
	// transition: ease-in-out .5s;
	// &:hover{
	// 	transition: ease-in  .5s;-webkit-background-clip: text;
	// 	background-clip: text;
	// 	background-image: linear-gradient(160deg, var(--gradient-start) 0, var(--gradient-end) 100%);
	// 	-webkit-text-fill-color: transparent;
	// 	text-fill-color: transparent;
	// 	cursor: pointer;
	// }
}
