/*

  Style specific for SWC posts shown here
  +

*/

//hide sharedaddy on TGWS
.sharedaddy{
    display: none;
}

.moretag{
    display: flex;
}

.more-link{
    @extend .button,.primary;
    @extend .button-rounded;
    @extend #modal-profile-button;

    &:hover{
	  transform: translateY(-0.5rem);
      box-shadow: none !important;
    }
}