/*

  Main
  +

*/

::selection, ::-moz-selection{
  background: rgba($color: $black, $alpha: 0.6);
  color: $white;
}

.content p {
	font-size: var(--medium-paragraph);
	font-weight: 400;
	letter-spacing: .1pt;
	line-height: 1.5;
	margin: 1rem 0;
	max-width: 60rem
}
.content.large-paragraph p {
	font-size: var(--large-paragraph)
}
.display-heading {
	font-size: var(--display-heading);
	letter-spacing: -.133px;
	font-weight: 700;
	line-height: 1.1
}
